@import "../../App.scss";

// ─────────────────────────────────────────────────────────────────────────────
// MEAL DETAILS PAGE
// ─────────────────────────────────────────────────────────────────────────────

.s-t {
  width: 55%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 3rem auto;
  padding: 0;
  height: auto;

  @media screen and (max-width: 768px) {
    width: 90%;
  }
}
